# Testing Framework のテスト結果を無視
#
TestResults

# プロジェクトのビルドデータ
*.suo
*.dll
*.pdb

# BtoCRazorDemo 本体のビルド結果データ
BtoCRazorDemo/bin
BtoCRazorDemo/obj

# BtoCRazorDemo.Test のビルド結果データ
"BtoCRazorDemo.Test/bin"
"BtoCRazorDemo.Test/obj"

