@model IQueryable<BtoCRazorDemo.Models.Category>
@{
    ViewBag.Title = "CategoryIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    製品カテゴリ一覧</h2>
<table>
    <thead>
        <tr>
            <td>
                カテゴリ名
            </td>
            <td>
                説明
            </td>
            <td>
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>
                    @category.CategoryName
                </td>
                <td>
                    @category.Description
                </td>
                <td>
                    @Html.ActionLink("カテゴリ選択", "ProductIndex", new { categoryId = category.CategoryID })
                </td>
            </tr>
        }
    </tbody>
</table>
